
.single-post-cont{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    border: 1px solid black;
    width: 750px;
    margin: auto;
    margin-top: 40px;
}

.single-post-cont{
    height: 100%;

}

#testing3{
    display: flex;
    justify-content: center;

    width: 100%;
    /* margin: auto; */
    margin-top: 50px;
    margin-bottom: 100px;

}

.comments-side-bar.single{
    height: 600px;

}
.side-comments-scroll.single{
    height: 550px;
}
 .view-items.img.single{
    height: 611px;
}
/*
.single-post-cont.single{
    margin: 0;
    height: 400px;
} */


.flex-child{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 700px;
}

.header-comment{
    display: flex;
    width: 700px;
}

.right-bar{
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 300px;
}

.child1{

}

.child2{
    height: 400px;
}

.lft-img{
    width: 450px;
}
