.edit-post-cont{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 450px;
    border-radius: 90px;
    padding: 0;
}

.edit-post-title{
    border-bottom: 1px solid #dbdbdb;
    width: 450px;
    margin: 0;
    text-align: center;
    padding: 5px;
}


.edit-post-input{
    width: 250px;
    border: 1px solid #dbdbdb;
    padding: 7px;
    background: none;
}

.edit-post-input:focus{
    outline: none;
}

.edit-post-form{
    padding-bottom: 10px;
}

.add-img.edit{
    height: 370px;
}

.delete-one-post{
    color: #0095F6;
    border: none;
    padding: 10px;
    background: none;
    cursor: pointer;
}

.delete-one-post:hover{
    color: #6aaad4;
}


.confirm-btns{
    background-color: #0095F6;
    gap: 10px;
    color:white;
    border: none;
    cursor: pointer;
    padding: 5px 5px;
    width: 200px;
    margin-bottom: 15px;
    font-size: 14px;
    font-weight: 800px;
    font-family: apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
}

.confirm-btns.mg{
    margin-right: 10px;
}


.confirm-btns:hover{
    background-color: #058ce6;
}
