.prof-edit-cont{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    height: 500px;
    width: 450px;
    gap: 10px;
}

.prof-edit-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 15px;
}

.prof-edit-image{
    width: 450px;
    height: 360px;
    object-fit: cover;
}

.create-post-input.edit{
    border: 1px solid grey;
    padding: 5px;
}

#edit-prof-header{
    text-align: center;
    padding: 0;
    margin: 0;
}
