.user-prof-cont{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: auto;
    margin-top: 20px;
    width: 950px;
}

.user-data-cont{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 230px;
}

.user-top-cont{
    width: 950px;
    justify-content: flex-start;
    padding-left: 30px;
    align-items: center;
    border-bottom: 1px solid #dbdbdb;
    display: flex;
    gap: 100px;

}

.user-prof-img-cont{
    width: 290px;
    height: 230px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.user-prof-img{
    width: 200px;
    height: 200px;
    border-radius: 200px;
}

.name-follow{
    display: flex;
    gap: 15px;
}

.post-follow-count{
    display: flex;
    gap: 15px;
}

.profile-img-loop{
    width: 250px;
    height: 250px;
}

.user-post-img-cont{
    display: flex;
    justify-content: flex-start;
    margin-left: 165px;
    padding-top: 30px;
    padding-bottom: 30px;
    width: 950px;
    flex-wrap:wrap;
    gap: 20px;

}
