
.one-post-cont{
    display:flex;
    width: 1020px;
    justify-content: stretch;
}

.view-items{
    width: 700px;
    height: 706px;
}

.view-items.img{
    object-fit: cover;
}

.comments-side-bar{
    width: 370px;
    height: 618px;
    background-color: white;
}

.comments-side-header{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 370px;
    gap: 10px;
    border-bottom: 1px solid #dbdbdb;

}

.username-head{
    padding-left: 6px;
}

.icons.modal{
    padding-right: 8px;
}

#icon-header{
    display:flex;
    align-items: center;
    padding: 15px;
    width: 370px;
}

#input-wid{
    width: 50px;
    border: none;
}

.side-comments-scroll{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 637px;
    background-color: white;
}

.one-post-cap{
    display: flex;
    align-items: center;
    padding-top: 8px;
    gap: 5px;
    width: 370px;
    flex-wrap: wrap;
}

.break-wrd{
    word-wrap: break-word;
    margin:0;
    width: 365px;
}

.caption-lng{
    width: 250px;
    word-wrap: break-word;
}

.comments-side-icons{
    cursor: pointer;
}



.home-comment.sidebar{
    width: 200px;
}
.add-comment.sidebar{
    width: 370px;
    border:none;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

.scroll-comments{
    flex: 1;
    width: 365px;
    overflow: auto;

}
.comm-spacing{
    padding-left: 10px;
    padding-top: 30px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    word-wrap: break-word;
    width: 370px;
}

.one-post-likes{
    box-shadow: 0 -5px 5px -5px rgb(204, 201, 201);
}
