#main-cont {
  display: flex;
  justify-content: center;
  gap: 50px;
  margin-top: 35px;
  width: 100%;
  margin: auto;
  padding-left: 50px;
  overflow: scroll;
  height: 850px;
  /* overflow: auto; */
}

.post-cont{
  width: 500px;
  /* height: 585px; */
  border: 1px solid #dbdbdb;
  display:flex;
  flex-direction: column;
  justify-content: space-between;

  align-items: center;
  background-color: white;
  margin-top: 50px;
}
.home-side-cont{
  width: 200px;
  margin-top: 50px;
  position: relative;
}
.side-child{
  position: absolute;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 30px;
  height: 250px;
  padding-left: 20px;
  right: 0;
  border: 1px solid #dbdbdb;
}

.side-link{
  text-decoration: none;
  color: black;
  font-weight: 800;
}

.side-link:hover{
  color: rgb(49, 48, 48)
}

#side-title{
  color: #0095F6;
  padding-top: 10px;
  margin: 0;
}

.user-feed{
  display: flex;
  gap:0;
  flex-direction: column;
}

.post-menu{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 500px;
  gap: 300px;
}

.modal-delete{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(44, 43, 43, 0.1);
}


.likes-cont{
  display: flex;
  justify-content: flex-start;
  width: 500px;
  align-items: center;
  gap: 10px;
  height: 40px;
}

/* img{
  height: 314px;
  object-fit: fill;
  width: 500px;
} */
.add-img.home{
  height: 314px;
  object-fit: fill;
  width: 500px;
}

.add-comment{
  border: 1px solid black;
  width: 500px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.home-comment{
  width: 250px;
}


#testing{
  display: flex;
  flex-direction: column;
  padding-left: 25px;
}


.view-comm-modal{
  position: absolute;
    top: 14px;
    left: 150px;
    right: 150px;
    bottom:15px;
    background-color: papayawhip;
}

#profile-img{
  height: 30px;
  width: 30px;
  border-radius: 30px;
}

.icon-user{
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px;
}


.icons{
  font-size: 24px;
  line-height: 20px;
  cursor: pointer;
  color:black;
}

.sub-likes-cont > p{
  margin: 0px;
}

#sub-likes-f{
  margin: 0px;
  margin-top: 10px;
  margin-bottom: 7px;
}
.view-all{
  color: #8E8E8E;
  margin-bottom: 10px;
  cursor:pointer;
  padding-bottom: 10px;
}

.comm-input-feed{
  width: 500px;
}

.home-comments{
  margin: 0;

}

.com-content-cont{
  display: flex;
  gap: 10px;
  padding-bottom: 10px;
}

#com-content{
  margin: 0;
}

.link-to-user{
  text-decoration: none;
  color: black;
  font-weight: 800;
  width: 100px;
}

.link-to-user:hover{
  color:rgb(58, 57, 57);
}
