#main-cont {
  display: flex;
  justify-content: center;
  margin-top: 35px;
  width: 100%;
  margin: auto;
  padding-left: 10px;
  overflow: scroll;
  max-height: calc(100vh - 90px) !important;
}

.post-cont{
  width: 600px;

  border: 1px solid #dbdbdb;
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  align-items: center;
  background-color: white;
  margin-top: 50px;
}
.home-side-cont{
  height: 100%;
  margin-top: 50px;
  position: relative;
}
.side-child{
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  pointer-events: none;
  padding-left: 20px;
  padding-right: 15px;
}

.side-link{
  text-decoration: none;
  color: black;
  font-weight: 800;
  padding-left: 10px;
  pointer-events: auto;
}

.side-link:hover{
  color: rgb(65, 63, 63);

}

#side-title{
  padding-left: 10px;
  color: #0095F6;
  padding-top: 10px;
  margin: 0;
  margin-bottom: 10px;
}

.tech-names-cont{
  width: 170px;
  margin-top: 20px;
}

.tech-names-title{
  margin: 0;
  font-weight: 600;
  padding-left: 10px;
}

.tech-names{
  margin: 0;
  padding-top: 10px;
  font-weight: 500;
  padding-left: 10px;
}

.user-feed{
  display: flex;
  gap:0;
  flex-direction: column;
}

.post-menu{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 600px;
  gap: 380px;
}

.modal-delete{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(44, 43, 43, 0.1);
}


.likes-cont{
  display: flex;
  justify-content: flex-start;
  width: 600px;
  align-items: center;
  gap: 10px;
  height: 40px;
}


.add-img.home{
  height: 414px;
  object-fit: contain;
  width: 600px;

}



.add-comment{
  border: 1px solid black;
  width: 600px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.home-comment{
  width: 250px;
}


#testing{
  display: flex;
  flex-direction: column;
  padding-left: 25px;
}


.view-comm-modal{
  position: absolute;
    top: 14px;
    left: 150px;
    right: 150px;
    bottom:15px;
    background-color: papayawhip;
}

#profile-img{
  height: 30px;
  width: 30px;
  border-radius: 30px;
}

.icon-user{
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 10px;
  padding: 10px;
}


.icons{
  font-size: 24px;
  line-height: 20px;
  cursor: pointer;
  color:black;
}

.sub-likes-cont > p{
  margin: 0px;
}

#sub-likes-f{
  margin: 0px;
  margin-top: 10px;
  margin-bottom: 7px;
}
.view-all{
  color: #8E8E8E;
  margin-bottom: 10px;
  cursor:pointer;
  padding-bottom: 10px;
}

.view-all:hover{
  color: #706f6f;
}

.comm-input-feed{
  width: 600px;
}

.home-comments{
  margin: 0;

}

.com-content-cont{
  display: flex;
  gap: 10px;
  padding-bottom: 10px;
  width: 250px;
}

#com-content{
  margin: 0;
  width: 250px;
  overflow-wrap: break-word;
}

.link-to-user{
  text-decoration: none;
  color: black;
  text-transform: capitalize;
  font-weight: 800;
  width: 100px;
}

.link-to-user:hover{
  color:rgb(58, 57, 57);
}

#linkedin{
  color: #0A66C2;
  font-size: 18px;
  margin-top: 4px;
}

#angellist{
  color: black;
}

#github{
  font-size: 18px;
  margin-top: 4px;

}

.media-links{
  display: flex;
  align-items: center;

  margin: 0;
  height: 40px;
}
.media-links > p {
  font-size: 20px;
  font-weight: 600;
}
