.profile-dropdown {
  position: absolute;
  border: 1px solid #dbdbdb;
  width: 180px;
  height: 200px;
  top: 10%;
  right: 22%;
  display:flex;
  flex-direction: column;
  gap: 10px;
  background-color: white;
}

.prof-item{
  padding-left: 8px;
  padding-top: 15px;
  width: 180px;
}



#nav-cont{
  display:flex;
  justify-content: space-around;
  align-items: center;
  border: 1px solid #dbdbdb;
  border-top: none;
  border-left: none;
  padding: 20px;
  padding-top: 20px;
  padding-bottom: 30px;
  width: 100%;
}
.html, body{
  overflow-x: hidden;
}

.up-r-icons{
  display: flex;
  gap: 5px;
}

.home-title{
  text-decoration: none;
}

.home-title.name{
  font-size: 30px;
  font-family: 'Brush Script MT', cursive;
}

.home-title:visited{
  color: black;
}

.home-title:active{
  color:black;
}
.icons.home-title:visited{
  color:black;
}
.icons.home-title:active{
  color:black;
}

.profile-btn{
  color: #0095F6;
    border: none;
    /* padding: 10px; */
    background: none;
    cursor: pointer;
    width: 180px;
    text-align: left;
    padding-top: 8px;
    padding-bottom: 8px;
}

.profile-btn.home{
  padding-left: 0;
}

.profile-btn:hover{
  background-color: rgb(250, 249, 249);
}

.profile-btn.lnk{
  text-decoration: none;
  width: 180px !important;
  cursor:pointer;
}
