.profile-dropdown {
  position: absolute;
  border: 1px solid #dbdbdb;
  width: 180px;
  height: 200px;
  margin-top: 40px;
  top: 8%;
  z-index: 2;
  display:flex;
  flex-direction: column;
  background-color: white;
}

.user-det{
  padding-left: 10px;
  font-weight: 600;
}

.user-det.top{
  margin-bottom: 10px;
}


.prof-item{
  width: 180px;
  font-weight: 600;
}



#nav-cont{
  display:flex;
  justify-content: center;
  gap: 200px;
  align-items: center;
  border: 1px solid #dbdbdb;
  border-top: none;
  border-left: none;
  padding: 20px;
  padding-top: 12px;
  padding-bottom: 20px;
  width: 100%;
  background-color: white;

}

.up-r-icons{
  display: flex;
  position:relative;
  gap: 15px;
}

.home-title{
  text-decoration: none;
}

.home-title.name{
  font-size: 30px;
  font-family: 'Style Script', cursive;
}

.home-title:visited{
  color: black;
}

.home-title:active{
  color:black;
}
.icons.home-title:visited{
  color:black;
}
.icons.home-title:active{
  color:black;
}

.profile-btn{
  color: #0095F6;
    border: none;
    background: none;
    cursor: pointer;
    text-align: left;

}


.profile-btn.home{
  font-weight: 600;
  width: 178px;
  padding-top: 14px;
  padding-bottom: 14px;
  padding-left: 10px;
}

.profile-btn:hover{
  background-color: rgb(250, 249, 249);
  color:#0781d3;
}


.profile-btn.lnk{
  text-decoration: none;
  width: 169px;
  cursor:pointer;
  font-weight: 600;
  padding-top: 14px;
  padding-bottom: 14px;
  padding-left: 10px;
  display: inline-block
}
